html,
body {
  margin: 0;
  width: 100%;
  min-height: 100%;
}

body {
  background-color: #f8f9fa;
}


/* ============================================================
   MAP
   ============================================================ */

#map {
  width: 75vw;
  height: 75vh;
  margin: 0 auto;
}


/* ============================================================
   TABLE
   ============================================================ */

#table-container {
  width: 75vw;
  margin-left: auto;
  margin-right: auto;
  overflow-x: auto;
}

#sites-table {
  background-color: white;
  font-size: 14px;
}
